<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.dao.ManagerDao">

    <select id="managerLogin" parameterType="Manager" useCache="false" statementType="CALLABLE"
    resultType="INTEGER">
        {call Manager_Login(#{managerAccount,mode=IN,jdbcType=VARCHAR},
                            #{managerPassword,mode=IN,jdbcType=VARCHAR},
                            #{resultCode,mode=OUT,jdbcType=INTEGER})}
    </select>
</mapper>
